# 01. 자료형과 연산자

## Intro

파이썬으로 데이터를 다루기 위해 가장 기본적으로 알아야 하는 것이 데이터의 형태입니다. 데이터는 숫자, 문자, 배열, 집합, 순서쌍 등 다양한 형태를 가질 수 있습니다. 파이썬에는 몇 가지 기본적인 자료형들이 정의되어 있으며, 각각의 자료형마다 다른 연산과 조작을 할 수 있습니다. 이번 장의 목표는 **내가 다루는 데이터가 어떤 형태인지를 알고, 자료형에 맞는 연산과 조작을 할 수 있는 능력**을 키우는 것입니다.

### 기본적인 파이썬 자료형

다음은 파이썬에서 사용되는 기본적인 자료형들의 예시입니다. 자세한 내용은 앞으로 차근차근 다룰 예정이니 눈으로만 봐두시면 됩니다. # 표시가 붙은 부분은 코드에 대한 주석으로, 실제 실행되는 파이썬 코드가 아닙니다.

**1. 숫자: 정수와 소수**

In [140]:
365 # 정수

365

In [141]:
3.14 # 소수

3.14

In [142]:
1.25 #소수

1.25

**2. 문자열: 따옴표로 감싼 문자들의 배열**

In [143]:
'Hello world!'

'Hello world!'

In [144]:
"DataScience Lab"

'DataScience Lab'

**3. 불(bool): 참거짓**

In [145]:
True

True

In [146]:
False

False

**4. 리스트: 대괄호 `[]`로 감싼 배열**

In [147]:
[1.1, 2.2, 3.3, 4.4, 5.5]

[1.1, 2.2, 3.3, 4.4, 5.5]

In [148]:
["a","b","c","d"]

['a', 'b', 'c', 'd']

**5. 튜플: 소괄호 `()`로 감싼 배열**

In [149]:
(1,2,3,4,5)

(1, 2, 3, 4, 5)

In [150]:
(True,False,False,True)

(True, False, False, True)

**6. 딕셔너리: 중괄호 `{}`로 감싼 키:값**

In [151]:
{"김연아":"피겨", "손흥민":"축구", "박찬호":"야구"}

{'김연아': '피겨', '손흥민': '축구', '박찬호': '야구'}

In [152]:
{1:"짜장면", 2:"짬뽕"}

{1: '짜장면', 2: '짬뽕'}

### 기본적인 함수와 연산자

함수/연산자|기능|예시 코드|실행결과
---|---|---|---
`print()`|대상을 출력|`print("Hello world!")`|`Hello world!`
`type()`|대상의 자료형을 반환|`type(5)`|`class <'int'>`
`==`|"두 대상이 같다"를 판단|`'Python'=='R'`|`False`
`!=`|"두 대상이 같지 않다"를 판단|`'Python'!='R'`|`True`
`=`|왼쪽 변수에 오른쪽 값을 할당|`a=5`|

In [153]:
print("Hello world!")

Hello world!

In [154]:
type(5)

int

In [155]:
'Python'=='R'

False

In [156]:
'Python'!='R'

True

In [157]:
a=5
print(a)

5

## 1. 숫자

### 1.1. 정수와 소수

파이썬의 숫자는 **정수**와 **소수**로 나뉘며, 각각 **`int`**와 **`float`**으로 표기합니다. 아래는 정수 `2`와 소수 `3.14`의 자료형을 확인하는 코드와 결과입니다. `2`의 자료형은  `int`, `3.14`의 자료형은 `float`임을 확인할 수 있습니다.

In [158]:
type(2)

int

In [159]:
type(3.14)

float

### 1.2 파이썬으로 계산하기

숫자들 간에는 정수와 소수 구분 없이 다음의 연산이 가능합니다. 번거롭더라도 최소한 사칙연산 코드는 따라 쳐보면서 파이썬에 익숙해지시기 바랍니다! 사칙연산을 제외한 연산자들은 사용하는 빈도가 많지 않으니, 이런 연산이 있다고만 알아두시면 됩니다.

연산자|기능|예시 코드|실행결과|결과의 자료형
---|---|---|---|---
`a + b`|덧셈|`1+1`|`2`|`int`
`a - b`|뺄셈|`3-2.5`|`0.5`|`float`
`a * b`|곱셉|`2*4.5`|`9.0`|`float`
`a / b`|나눗셈|`0.9/0.3`|`3.0`|`float`
`a // b`|나눗셈의 몫|`8//3`|`2`|`int`
`a % b`|나눗셈의 나머지|`8%3`|`2`|`int`
`a ** b`| a의 b제곱|`5**2`|`25`|`int`

In [160]:
a = 1+1
print(a)

2

In [161]:
b = 3 - 2.5
print(b)

0.5

In [162]:
c = 2 * 4.5
print(c)

9.0

In [163]:
d = 0.9/ 0.3
print(d)

3.0

## 2. 문자열

### 2.1. Hello World

문자열은 말 그대로 문자들의 나열을 의미하며, `str`로 표기합니다. 작은 따옴표(`''`), 혹은 큰 따옴표(`""`) 안에 원하는 내용을 적어주면 문자열 데이터를 만들 수 있습니다. 둘 중 무엇을 사용하든 상관은 없습니다. 프로그래밍 언어를 배울 때는 `"Hello World"`를 출력해보는 것이 관례입니다. 다같이 인사해보세요! `type("Hello world")`을 실행해보면 `"Hello world"`의 자료형이 문자열(`str`)임을 확인할 수 있습니다.

In [164]:
print("Hello world")

Hello world

In [165]:
type("Hello world")

str

숫자도 따옴표로 감싸면 문자열이 됩니다. `type("365")`를 실행해본 결과 `"365"`는 문자열 데이터입니다. 문자열 `"365"`와 숫자 `365`가 같은지 테스트해보면 결과는 '같지 않다' 입니다. `"365"`는 문자열이고, `365`는 숫자이기 때문입니다.

In [166]:
type("365")

str

In [167]:
365 == "365"

False

### 2.2. 인덱싱 & 슬라이싱

문자열은 **문자를 순서대로 나열한 데이터입니다.** 따라서 문자열을 구성하는 하나하나의 문자에 순서대로 번호를 매길 수 있으며, 이 번호를 **인덱스**라고 부릅니다. 아래 그림은 `"Hello World"`라는 문자열에 앞쪽부터 번호를 매긴 결과입니다. 파이썬의 인덱스는 0부터 시작하기 때문에, 가장 먼저 나온 문자인 `"H"`의 인덱스는 `0`이 됩니다. 그 이후 순차적으로 1, 2, ... 10 까지의 번호가 매겨졌습니다. 공백 역시 문자열에 포함된다는 사실을 유의해주세요!

인덱스|0|1|2|3|4|5|6|7|8|9|10
---|---|---|---|---|---|---|---|---|---|---|---
문자열|H|e|l|l|o| |w|o|r|l|d

파이썬의 인덱스는 뒤에서부터 부여할 수도 있습니다. `"Hello world"`의 인덱스를 뒤에서부터 매기면 다음과 같습니다. 즉 가장 뒤에서부터 `-1`, `-2`, ... 와 같이 음수 인덱스가 매겨집니다.

인덱스|-11|-10|-9|-8|-7|-6|-5|-4|-3|-2|-1
---|---|---|---|---|---|---|---|---|---|---|---
문자열|H|e|l|l|o| |w|o|r|l|d

#### 인덱싱

문자열에 부여된 **인덱스를 통해서 개별 문자를 뽑아낼 수 있고, 이것을 인덱싱이라고 합니다.** 비유하면, 여러분과 파이썬이 다음과 같은 대화를 한다고 생각하시면 됩니다.

> You: `"Hello world"`의 0번 문자를 찾아줘!

> Python: `"Hello world"`의 0번 문자는 `"H"` 입니다.

그렇다면 `"Hello world"`의 0번 문자를 찾아줘!'라는 명령을 어떻게 파이썬에 전달할 수 있을까요? 문자열 바로 뒤에 대괄호`[]`를 적고, 대괄호 안에 원하는 인덱스 숫자를 넣어주면 됩니다.

In [168]:
"Hello world"[0]

'H'

예시 코드들을 따라 쳐보면서 인덱싱의 문법에 익숙해지시기 바랍니다. 실행 결과의 자료형은 당연하게도 문자열입니다! 문자열을 먼저 변수에 할당한 후 인덱싱을 하는 것도 가능합니다.

문자열|인덱스|예시 코드|결과
---|---|---|---
`"Hello world"`|0|`"Hello world"[0]`|`'H'`
`"Python"`|0|`"Python"[0]`|`'P'`
`"DataScience Lab"`|12|`"DataScience Lab"[12]`|`'L'`
`"010-5782-3579"`|7|`"010-5782-3579"[7]`|`'2'`
`"Life is short, you need Python."`|-1|`"Life is short, you need Python."[-1]`|`'.'`

In [169]:
"Hello world"[0]

'H'

In [170]:
"Python"[0]

'P'

In [171]:
b = "DataScience Lab"
b[12]

'L'

In [172]:
c = "010-5782-0000"
c[7]

'2'

In [173]:
d = "Life is short, you need Python."
d[-1]

'.'

#### 슬라이싱

슬라이싱은 말 그대로 잘라내기 입니다. 일정 구간에 걸쳐서 인덱싱을 실행한다고 생각하시면 편합니다. 역시 대화로 표현하면 다음과 같습니다.

> You: `"Hello world"`의 0번부터 4번까지의 문자를 찾아줘!

> Python: `"Hello world"`의 0번부터 4번까지 문자는 `"Hello"` 입니다.

슬라이싱을 할 때는, `[a:b]`와 같이 대괄호 안에 구간을 입력해주면 됩니다. 구간을 입력할 때는 주의사항이 있습니다. 예시와 함께 보겠습니다.

In [174]:
"Hello world"[0:4]

'Hell'

`[0:4]`의 구간을 입력했으므로 0, 1, 2, 3, 4번 문자가 출력되어야 할 것 같은데, 이상하게 `'Hell'`까지만 출력되었습니다. 이는 슬라이싱에서 구간 `[a:b]`가 `a` 이상  `b` 미만으로 해석되기 때문입니다. 즉 0번부터 4번까지를 슬라이싱 하려면 구간을 `[0:5]`와 같이 입력해야 합니다. 코드를 수정하면 정상적으로 실행되는 것을 볼 수 있습니다.

In [175]:
"Hello world"[0:5]

'Hello'

슬라이싱의 구간 표현법을 정리하면 다음과 같습니다.

구간|설명|예시 코드|실행 결과
---|---|---|---
`[a:b]`|`a`번 문자부터 `b`번 문자 직전까지 슬라이싱|`'www.naver.com'[4:9]`|`'naver'`
`[:]`|문자열의 전 구간을 슬라이싱|`"Super Awesome Code"[:]`|`'Super Awesome Code'`
`[a:]`|`a`번 문자부터 끝까지 슬라이싱|`"Avengers: Endgame"[-7:]`|`'Endgame'`
`[:b]`|처음부터 `b`번 문자 직전까지 슬라이싱|`"서울특별시 서대문구"[:5]`|`'서울특별시'`

In [176]:
'www.naver.com'[4:9]

'naver'

In [177]:
"Super Awesome Code"[:]

'Super Awesome Code'

In [178]:
"Avengers: Endgame"[-7:]

'Endgame'

In [179]:
"서울특별시 서대문구"[:5]

'서울특별시'

### 2.3. 문자열의 메소드

메소드는 일종의 함수이며, 대상 뒤에 점 `.`을 찍고 사용할 수 있습니다. 문자열에 사용하는 대표적인 메소드들을 네 가지만 배워 보겠습니다.

메소드|기능|예시|결과
---|---|---|---
`s.strip()`|문자열 양쪽의 공백을 제거|`"     Hello world      ".strip()`|`"Hello world"`
`s.replace(교체할 문자, 새 문자)`|문자열 내의 특정 문자를 다른 문자로 교체|`"You need Python".replace("Python", "R")`|`"You need Python"`
`s.split(기준문자)`|특정 문자를 기준으로 문자열을 쪼갬|`"one,two,three,four".split(",")`|`['one','two','three','four]`
`"삽입할문자".join(s)`|특정 문자열을 삽입|`"/".join("ABCDE")`|`"A,B,C,D,E"`

#### `s.strip()`

**`strip()` 메소드는 문자열 양쪽의 공백을 제거합니다. 공백이 몇 개이건 상관없이 모두 제거됩니다.** 문자열 `"   Hello world   "`는 양쪽에 공백이 있고, 가운데에도 한 칸의 공백이 있습니다. `"   Hello world   "`를 변수 `s`에 할당하고, `s.strip()`을 실행한 결과, 양쪽의 공백만 지워지고 가운데 공백은 잘 남아있는 것을 확인할 수 있습니다. 

그러나 `s.strip()`을 실행한 후 `s`를 출력해보면 양쪽의 공백이 그대로 남아있습니다. `s.strip()`은 실제로 문자열을 변화시키는 것이 아니라, 변화한 상태를 일시적으로 보여줄 뿐이기 때문입니다. 만약 `s`를 실제로 변화시키고 싶다면, `s=s.strip()`과 같이 다시 할당을 해주어야 합니다. 처음 `s = s.strip()`과 같은 식을 마주하면 당황스러울 것입니다. 하지만 `=`는 같음을 뜻하는 연산자가 아니고, 할당을 뜻하는 연산자입니다. 즉 `s=s.strip()`이라는 코드는 **"`s.strip()`을 실행하고 이 결과를 `s`에 할당하라"**는 의미입니다.

In [180]:
s = "   Hello world   "
s.strip()

'Hello world'

In [181]:
s

'   Hello world   '

In [182]:
s = s.strip()
s

'Hello world'

**탭을 의미하는 `\t` 문자열과 개행을 의미하는 `\n` 문자열 역시 공백으로 인식됩니다.** `\t` 와 `\n`을 사용한 공백은 웹 문서를 크롤링해서 작업할 때 자주 볼 수 있습니다. 아래 예제에서는 왼쪽에 `\n`, 오른쪽에 `\t` 세 개를 사용해서 `'Hello world'`를 감싸주었습니다. 이 결과를 변수 `s`에 할당하고 `s.strip()`을 실행한 결과, `'Hello world'`만 남아있는 것을 확인할 수 있습니다. `\t`와 `\n`이 공백으로 인식되어 지워졌기 때문입니다.

In [183]:
s = "\n\n\nHello world\t\t\t"
s = s.strip()
print(s)

Hello world

#### `s.replace(교체할 문자, 새 문자)`

**`replace()` 메소드는 문자열 내의 특정 문자를 다른 문자로 모두 교체합니다.** 아래는 `"You need Python"` 에서 `"Python"`을 `"R"`로 바꾸어준 예제입니다. 먼저 `'You need Python'`라는 문자열을 `s`라는 변수에 할당하였습니다. `s.replace("Python","R")` 은 s에 할당된 문자열 `"You need Python"`에서 `'Python'`을 `'R'`로 바꾸어주는 코드입니다. 역시 `s.replace("Python","R")`를 실행하는것만으로는 `s`에 할당된 값이 변화하지 않으며, `s`를 변화시키고 싶다면 `s=s.replace("Python","R")`과 같이 다시 할당을 해주어야 합니다.

In [184]:
s = 'You need Python' # 문자열을 변수 s에 할당
s.replace("Python", "R") # s에서 Python -> R로 교체

'You need R'

In [185]:
s # s는 변화하지 않음

'You need Python'

In [186]:
s = s.replace("Python", "R") # Python을 R로 교체한 후 이 결과를 s에 할당
s

'You need R'

In [187]:
s = s.replace(" ", ",") # 모든 " "를 ","로 교체
s

'You,need,R'

#### `s.split(기준문자)`

**`split()` 메소드는 특정 문자를 기준으로 문자열을 쪼개어 리스트를 반환합니다.** 아무런 문자도 주어지지 않는다면 공백을 기준으로 문자열을 쪼갭니다.

In [188]:
s = "Hello world"
s.split(" ") # " " 를 기준으로 문자열을 쪼갬 > 이 결과를 리스트로 반환

['Hello', 'world']

In [189]:
s = "one/two/three/four"
s.split("/")

['one', 'two', 'three', 'four']

#### `"삽입할 문자".join(s)`

**`join()` 메소드는 문자열 사이사이에 다른 문자를 삽입합니다.**

In [190]:
alphabet = "ABCDEFG"
"|".join(alphabet)

'A|B|C|D|E|F|G'

### 2.3. 예제

1. `"http://yonseidslab.github.io"` 문자열에서 `yonseidslab` 을 추출하세요.

2. 

3.

## 3. 리스트

리스트는 `[요소1, 요소2, 요소3, ...]`과 같이 여러 요소들을 묶어놓은 자료형입니다. 각 요소들은 쉼표 `,`로 구분되며, 바깥은 대괄호 `[]`로 감싸줍니다. 리스트는 거의 모든 자료형을 요소로 가질 수 있으며, 요소들의 자료형이 모두 같을 필요도 없습니다. 다음은 모두 리스트의 예시입니다.

In [191]:
[]

[1,2,3,4,5]

['a','b','c','d','e']

['a','b',3,4,'d',False]

[[1,2,3],[4,5,6]]

[[1, 2, 3], [4, 5, 6]]

### 3.1. 리스트 인덱싱 & 슬라이싱

리스트는 요소들의 순차적인 배열입니다. 따라서 문자열과 마찬가지로, 각각의 요소들에 번호를 매길 수 있습니다. 번호를 매기는 방식 역시 문자열과 동일합니다. 즉 앞에서부터 `0`, `1`, `2` ... 순으로 인덱스가 붙고, 뒤에서부터 `-1`,`-2`,`-3` ... 순으로 인덱스가 붙습니다. 예를 들어 `["Life", "is", "short", "you", "need", "Python"]` 과 같은 리스트에 인덱스를 매겨보면 다음과 같습니다.

인덱스|0|1|2|3|4|5
---|---|---|---|---|---|---
요소|"Life"|"is"|"short"|"you"|"need"|"Python"

인덱스|-6|-5|-4|-3|-2|-1
---|---|---|---|---|---|---
요소|"Life"|"is"|"short"|"you"|"need"|"Python"

**인덱싱**

문자열의 인덱싱과 슬라이싱에 익숙해졌다면, 리스트의 인덱싱과 슬라이싱 역시 어렵지 않을 겁니다. 리스트의 인덱싱 역시 문자열과 마찬가지로 대괄호 `[]`를 사용합니다.

In [192]:
[0.25, 0.5, 0.75, 1.0][1]

["Life", "is", "short", "you", "need", "Python"][-1]

[[1,2,3],[4,5,6],[7,8,9],[10,11,12]][2]

0.5